.mainContainer {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.halfContainer {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leftContainer {
  background-color: yellow;

}

.rightContainer {
  background-color: saddlebrown;
}

.teamName {
  font-size: 30px;
  font-weight: 800;
}

.accordianContainer {
  width: 70%
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexApart {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fullWidth {
  width: 100%
}
.oneOfThreeSections {
  width: 33%
}

.oneOfTwoSections {
  width: 50%
}

.rightTextAlign {
  text-align: right;
}

.centerTextAlign {
  text-align: center;
}

.boldFont {
  font-weight: bold !important;
}

.redFont {
  color: red;
}

.greenFont {
  color: green
}